<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipamento</title>
    <link rel="stylesheet" href="/src/reseat.css">
</head>
<body>
    <h1>Equipamento</h1>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque quos unde amet nihil quia molestiae dolores ducimus! Beatae non aliquid cumque vitae nam qui architecto corrupti, temporibus recusandae molestiae similique.</p>

    <footer class="barraLateral">
        <ul class="lista">
            <li><a href="./retirada.html">Retirada</a></li>
            <li><a href="./EPIs.html">EPIs</a></li>
            <li><a href="">Equipamento</a></li>
            <li><a href="./historico.html">Historico</a></li>
            <li><a href="./index.html">Sair</a></li>
        </ul>
    </footer>
</body>
</html>