<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historico</title>
    <link rel="stylesheet" href="/src/reseat.css">
</head>
<body>
    <h1>HISTORICO</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur atque, ea velit, suscipit laborum voluptatem dicta distinctio, dolorum similique architecto veniam sint beatae ratione? Inventore ex doloremque magnam cupiditate officia.</p>

    <footer class="barraLateral">
        <ul class="lista">
            <li><a href="./retirada.html">Retirada</a></li>
            <li><a href="./EPIs.html">EPIs</a></li>
            <li><a href="./equipamento.html">Equipamento</a></li>
            <li><a href="">Historico</a></li>
            <li><a href="/index.html">Sair</a></li>
        </ul>
    </footer>
</body>
</html>