<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirada</title>
    <link rel="stylesheet" href="/src/reseat.css">
</head>
<body>
    <h1>retirada</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus explicabo laboriosam cum? Voluptatem fuga, animi, nemo soluta, voluptates pariatur placeat voluptatibus eaque aspernatur dolores illum maxime consequatur laudantium ducimus doloremque.</p>

    <footer class="barraLateral">
        <ul class="lista">
            <li><a href="">Retirada</a></li>
            <li><a href="./EPIs.html">EPIs</a></li>
            <li><a href="./equipamento.html">Equipamento</a></li>
            <li><a href="./historico.html">Historico</a></li>
            <li><a href="/index.html">Sair</a></li>
        </ul>
    </footer>
</body>
</html>