<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirada</title>
    <link rel="stylesheet" href="/src/reseat.css">
</head>
<body>
    <h1>retirada</h1>

    <section class="section">
        <div class="alugar">
            <input type="text">
        </div>

        <div class="EPI">
            <input type="text">
            <input type="text" id="consulta">
        </div>

        <div class="Equipamento">
            <input type="text">
            <input type="text" id="consulta">
        </div>

        <div class="buttons">
            <button>Cancelar</button>

            <button>Confirmar</button>
        </div>
    </section>   

    <footer class="barraLateral">
        <ul class="lista">
            <li><a href="">Retirada</a></li>
            <li><a href="./EPIs.html">EPIs</a></li>
            <li><a href="./equipamento.html">Equipamento</a></li>
            <li><a href="./historico.html">Historico</a></li>
            <li><a href="/index.html">Sair</a></li>
        </ul>
    </footer>
</body>
</html>