/* geral */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* listas */
ul{
list-style-type: none;
}

/* links */
a{
text-decoration: none;
color: black;
}

/* Chrome, Edge, Safari */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Sidebar à direita */
.barraLateral {
    background: black;
    width: 150px;
    min-height: 100vh; /* altura da tela */
    display: flex; /* para o <ul> poder crescer */
    align-items: stretch; /* <ul> estica na largura */
}

.lista {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* espalha os <li> verticalmente */
    padding: 16px 8px;
}

.lista li a {
    display: block;
    padding: 8px;
    color: white;
}

.lista li a:hover {
    background: rgba(143, 138, 138, 0.1);
    border-radius: 8px;
}